<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
<link rel="stylesheet" href="../static/index_style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="title">
                <h1 id="truth-title">Truth</h1>
                <h1 id="tellers-title">Tellers</h1>
            </div>
            <div class="subtitle">
                <p>Insert summary or blurb from an article to analyze!</p>
            </div>
            <div class="input-box" onclick="sendFocus()">
                <textarea id="filter-text-val"></textarea>
            </div>
            <button id="truth-button" onclick="filterText()">Tell Me The Truth!</button>
        </div>
        <div id="answer-box">

        </div>
    </div>

    <script>

        function answerBoxTemplate(title, sim) {
            return `<div class='article-box'>
                <h3 class='article-title'>${title}</h3>
                <p class='similarity-text'>${Math.round(100 * Number(sim)) + '% Match'}</p>
                <progress max="100" value=${Math.round(100 * Number(sim))}></progress>
            </div>`
        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)

            //connection to back end from example:
            /**fetch("/titles?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
            .then((response) => response.json())
            .then((data) => data.forEach(row => {
                let tempDiv = document.createElement("div")
                tempDiv.innerHTML = answerBoxTemplate(row.title,row.descr)
                document.getElementById("answer-box").appendChild(tempDiv)
            }));*/

            let title1 = document.createElement("div")
            title1.innerHTML = "<h1 class='matches-title'>Closest Matches:</h1>"
            document.getElementById("answer-box").appendChild(title1)

            //todo: replace mock "data" variable with data from back end
            data = [{ title: 'White House On Fire', sim: '0.7001' },
            { title: 'Plane Crashes Today', sim: '0.3' },
            { title: 'Confirmed: Cornell Is Cool', sim: '0.8342' }]

            /**fetch("/titles?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
            .then((response) => response.json()) 
            .then((data) =>*/
            data.forEach(row => {
                let tempDiv = document.createElement("div")
                tempDiv.innerHTML = answerBoxTemplate(row.title, row.sim)
                document.getElementById("answer-box").appendChild(tempDiv)
            });

            let title2 = document.createElement("div")
            title2.innerHTML = "<h1 class='matches-title'>Closest True:</h1> <p>todo</p>"
            document.getElementById("answer-box").appendChild(title2)

            let title3 = document.createElement("div")
            title3.innerHTML = "<h1 class='matches-title'>Closest False:</h1> <p>todo</p>"
            document.getElementById("answer-box").appendChild(title3)
        }

    </script>
</body>